// FUENTES
$fontfamily: "Quicksand", sans-serif;
$componentWeight: 18px;
$nameWeight: 20px;
$dateWeight: 28px;
$appointment: 42px;

//COLORS
$maincolor: #27445b;
$secondary-color: #6b7881;
$active-blue: #6e78f7;
$active-red: #f76e8e;
$tag-blue: rgba(110, 120, 247, 0.2);
$tag-red: rgba(247, 110, 142, 0.2);

// EFFECTS
$shadow: 4px 4px 4px rgba(0, 0, 0, 16%);
$radius: 40px;
