@import "./root/variables";
@import "./root/typography";
@import "./components/spacing";
@import "./components/components";
@import "./pages/genderform";
@import "./pages/userform";
@import "./utils/flex";
@import "./utils/inputsettings";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.app {
  display: flex;
}

.app-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.app-main,
.app-doctors {
  max-height: 100vh;
  overflow: scroll;
  margin: 100px 50px;
}

// ::-webkit-scrollbar {
//   width: 0px;
//   background: transparent; /* make scrollbar transparent */
// }
