.login {
  display: flex;
  height: 100vh;
  width: 100vw;
  .form {
    width: 50vw;
    // background-image: url("hero.jpg");
  }

  .hero {
    width: 50vw;
    overflow: hidden;
    img {
      width: 100%;
      image-rendering: optimizeQuality;
    }
  }
}
.register {
  margin-top: 30%;
  @extend %flexsetting;
  border-radius: $radius;

  &-box {
    display: flex;
    flex-direction: column;
    font-size: $nameWeight;
    font-weight: 900;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 60%;
  }

  &-btn {
    background-color: $active-blue;
    color: white;
    font-size: $componentWeight + 2px;
    font-weight: 900;
    border-width: 0;
    box-shadow: $shadow;
    padding: 10px 20px;

    margin-top: 20px;
  }
}

.boxcontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-image: url("../hero.jpg");

  background-repeat: no-repeat;
  background-size: cover;

  .container-form {
    // background-color: white;
    width: fit-content;
  }
}
.blur {
  background: rgba(
    255,
    255,
    255,
    0.2
  ); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 5;
}

.boxform {
  box-shadow: $shadow;
  border-radius: $radius;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
}
.boxnew {
  display: flex;
  flex-direction: column;
  font-size: $nameWeight;
  font-weight: 900;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 90%;
  border-radius: $radius;
}
