%submit-btn {
  background-color: $active-blue;
  color: white;
  font-size: $componentWeight + 2px;
  font-weight: 900;
  border-width: 0;
  box-shadow: $shadow;
  padding: 10px 20px;
  width: 300px;
}
