%componentSpacing {
  display: flex;
  justify-content: space-evenly;
  border-radius: $radius;
 

  padding-left: 20px;
  padding-right: 57px;
  padding-top: 15px;
  padding-bottom: 15px;
}
